body{
   /* background-color: #666;*/
    background-color: #041e37;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1px;
}


.container{
    width: 90%;
    margin: 0 auto;
}

.sliding{
 
    height: 50px;
    background-color: black;
    width: 100%;
}

.defi-head{
   
    display: inline-block;
    border-left: 10px solid #e9d16f;
    padding-left: 35px;
    background: rgba(255, 255, 255, .02);
    padding-right: 35px;
    padding-bottom: 20px;
    padding-top: 10px;
    color: white;
    margin-top: 10px;
}

.defi-text h2{
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    margin: 0;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
}

.defi-text p{
    color: #fff;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
}

.container .resolve{
    margin-top: 50px;
    margin-bottom: 20px;
   
    
}
.container .resolve button{
   background-color: white;
   font-size: 20px;
   color: rgb(0, 0, 0);
   width: 200px;
   border: 1px solid rgb(4, 30, 55);
   border-radius: 50px;
   display: inline-block;
   padding: 20px 80px;
   font-weight: 520;
   text-decoration: none;
   display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



#main2{
    background-color: white;
}

.main2{
    padding-top: 10px;
    padding-bottom: 10px;
}

.main2 .text-only{
    text-align: center;
    margin-bottom: 100px;
}

.main2 .text-only p{
    font-size: 22px;
    line-height: 1.5em;
    color: #27415a;
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;

}

.boxes{
    display: flex;
   margin-bottom: 20px;

}

.boxes .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    height: 350px;
    width: 30%;
}

.ancor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.ancor h1{
    font-size: 24px;
}

.box .some{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ancor-real a{
    padding: 15px 60px;
    background:  rgb(4, 30, 55);
    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 170px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    text-decoration: none;
}

.ancor-real a:hover{
    color: black;
    background-color: white;
}

.ancor-real{
    margin-top: 15px;
}






#main3{
    background-color: rgb(4, 30, 55);;
}




.everything{

    padding-top: 90px;
    padding-bottom: 90px;
}

.everywhere{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.everywhere .textings{
    width: 58%; 
    margin-left: 150px;
}
 /* .some button a{
   text-decoration: none;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    width: 170px;
    border: 1px solid rgb(4, 30, 55);
    border-radius: 50px;
    display: inline-block;
    padding: 20px 40px;
    font-weight: 520;
 } */


 .foot{
    background-color: #e9d16f;
    text-align: center;
    margin-bottom: 0;

   
 }

 .footing{
     padding-top: 20px;
 }

 .foot p{
    font-size: 20px;
    font-weight: 400;
}



@media(max-width:900px ){

    .con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    

    .defi-head{
  

        display: inline-block;
        border-bottom: 10px solid #e9d16f;
        border-left: 0px solid #e9d16f;
        padding-left: 35px;
        background: rgba(255, 255, 255, .02);
        padding-right: 35px;
        padding-bottom: 20px;
        padding-top: 10px;
        color: white;
        margin-top: 10px;
    }
    
    .defi-text h2{
        font-size: 35px;
        color: #fff;
        font-weight: 500;
        margin: 0;
        line-height: normal;
        font-family: 'Poppins', sans-serif;
    }
.boxes{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.boxes .box{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.some{
    width: 100%;
}




.everywhere{
    flex-direction: column;
}

.everywhere .textings{
    width: 100%; 
    margin-left: 0px;
}
}